# Visual Studio Code
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# Virtual Environment
venv/
.venv/

# Production / Build artifacts
build/
dist/
tmp/

# Misc
.DS_Store

# Environment variables
.env
.env.*
!.env.example